
h2,h3,p{
  margin: 0;
}

h2{
    align-self: center;
}

h3{
  align-self: end;
  font-weight: 400;
}

hr{
    width: 70vw;
}

section{
  margin-top: 50px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.date{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

section img{
  width: 40px;
}

.forcasttemp, .forecastHumidity, .forecastWindSpeed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecastHumidity img, .forecastWindSpeed img{
  width: 25px;
  margin-bottom: 10px;
}

.date{
    display: grid;
    grid-template-columns: repeat(4, 110px);
    align-items: center;
    justify-items: center;
    gap: 0;
}